!.meta

# Protected or generated
/.appends
/.github
/.vscode

# Binaries
/bin

# Configuration
/config

# These have their own config files (not overrides)
/common/*
/exercises/*

# typescript-eslint can't lint correctly files in a project without extension
/scripts/*
