{
  "root": true,
  "extends": "@exercism/eslint-config-typescript",
  "env": {
    "jest": true
  },
  "overrides": [
    {
      "files": [".meta/proof.ci.ts", ".meta/exemplar.ts", "*.test.ts"],
      "excludedFiles": ["custom.test.ts"],
      "extends": "@exercism/eslint-config-typescript/maintainers"
    }
  ],
  "ignores": [
    "!.meta",
    ".appends",
    ".git",
    ".vscode",
    "/bin",
    "/config"
  ]
}
