*.swp
.DS_Store
npm-debug.log
tmp
bin/configlet
bin/configlet.exe
bin/canonical_data_syncer
bin/canonical_data_syncer.exe
node_modules
.idea
build
babel-output
lintreport.json

# These are artifacts from running make test. They should be removed by make.
# The correct location for these files is the maintaining folder.
/exercises/**/node_modules
/exercises/**/yarn.lock
/common/node_modules
/node_modules
