# This workflow will do a clean install of node dependencies and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: typescript / main

on:
  push:
    branches: [main]

jobs:
  precheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - name: Use Node.js LTS (16.x)
        uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236
        with:
          node-version: 16.x

      - name: Install project dependencies
        run: yarn install --frozen-lockfile

      - name: Run exercism/typescript ci precheck (checks config, lint code, and runs tests) for all exercises
        run: yarn babel-node scripts/ci-check

  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install project dependencies
        run: yarn install --frozen-lockfile

      - name: Run exercism/typescript ci (checks config, lint code, and runs tests) for all exercises
        run: yarn babel-node scripts/ci
