# This workflow will do a clean install of node dependencies and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: typescript / main

on:
  push:
    branches: [main]

jobs:
  precheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Use Node.js LTS (16.x)
        uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854
        with:
          node-version: 16.x

      - name: Install project dependencies
        run: yarn install --frozen-lockfile

      - name: Run exercism/typescript ci precheck (checks config, lint code, and runs tests) for all exercises
        run: yarn ci:check

  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]

    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@56337c425554a6be30cdef71bf441f15be286854
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install project dependencies
        run: yarn install --frozen-lockfile

      - name: Run exercism/typescript ci (checks config, lint code, and runs tests) for all exercises
        run: yarn ci
