name: typescript / format

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  verify:
    runs-on: ubuntu-22.04
    steps:
      - name: 'Checkout code'
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac

      - name: 'Verify formatting of all files'
        run: ./bin/check-formatting.sh
